<div class="container">
    <div id="centerContent" class="row">
        <h1>Thanks for your payment</h1>
        <div class="icon-example">
            <i class="mdi-action-done large"></i>
            <h3>Registration Completed Successfully</h3>
        </div>
        <br/>
    </div>
    <div class="row">
        <a class="btn-primary" href="http://event.xom.com/e26d02a1-4457-4619-b680-fb2043c35e6f">Save the date!</a>
        <br/>
    </div>
    <div class="row"><br/></div>
</div>