<div id='main' class="homeContainer">
    
    <div class="firstContainer">
        <div class="row">        
            <div class="col s8 offset-s2" id="imgContainer">
                <img class="img1" src="img/title3.png" alt="">
                <a href="#/register">
                <img class="img2" src="img/tournament.png" alt="">
                <a href="#/register"></a>
            </div>
            <div class="col s12 tourInfo right">
                <p>August 25th</p>
                <p>Start Time – 9am</p>
                <p>Cost $45/person</p>
                <p>Questions? <a href="mailto:brian.mcdaniel@exxonmobil.com?Subject=Question%20about%20UW%20Basketball%20Tournament">Ask Brian</a></p>

            </div>
        </div>
    </div>

    <div class="second">

        <div class="row responsive-text featuring">
            <div class="col s12 center">
                <h1>Also Featuring</h1>
            </div>
        </div>

        <div class="row responsive-text">
            <div class="col s12 m6 threePointContainer center">
                <a href="#/register"><img src="img/threept.png"></a>                
            </div>
            <div class="col s12 m6 knockoutContainer center">
                <a href="#/register"><img src="img/knockout2.png"></a>
            </div>
        </div>

        <div class="row responsive-text contestInfo">
            <div class="col s12 center">
                <p>From 11am-1pm</p>
                <p>Cost: $10/person</p>
            </div>
        </div>

    </div>

    <div class="secondContainer">
        <div class="row responsive-text">
            <h2 name="general">General Information</h3>
            <ul>
                <li>Number of teams – 16</li>
                <li>Food – Boxed lunches may be purchased at event sign-up</li>
                <li>Sign-up – Each person should sign up and pay, listing either their team or as a free agent</li>
                <li>Free Agents – Players signing up as free agents will be assigned into ad hoc teams</li>
            </ul>
        </div>
        <div class="row responsive-text">            
            <br/>
            
            <h2>Event Structure</h3>
            <ul>
                <li>Guaranteed 2 game minimum</li>
                <li>Half Court Games</li>
                <li>Games will last 15:00 with 5:00 between each game</li>
                <li>Games to 21 by 2’s & 3’s or winner at end of 15:00 running clock</li>
                <li>5 person teams, with dead ball substitutions</li>
                <li>Independent Arbitrators (1 per game to settle call disputes)</li>
            </ul>
        </div>
        <div class="row responsive-text">        
            <br/>
            <a class="btn-primary" href="http://event.xom.com/e26d02a1-4457-4619-b680-fb2043c35e6f">Save the date!</a>
            <br/>
            <br/>
            <a class="btn-primary" href="#/register">Register Now</a>
            <br/>
            <br/>
        </div>
        <div class="row responsive-text">
            <h3>Interested in volunteering?</h3>
            <p>Sign up <a href=" https://ishareteam1.na.xom.com/sites/hunitedway/Lists/Basketball%20Tournament%20%20United%20Way%202016/AllItems.aspx" style="color:blue">
            here</a>.</p>
        </div>
    </div>
</div>